# Node modules
node_modules/

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# System files
.DS_Store

# Optional build artifacts (if later added)
dist/
build/
