html,
body {
  /* background-color: white; */
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

header nav ul {
  display: flex;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

header nav ul li {
  padding-top: 20px;
  padding-left: 16px;
  list-style: none;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
}

header nav ul li:not(:last-of-type) {
  border-right: 1px solid #000;
}

header nav ul li a {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.05px;
}

main .hero {
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 35px;
  border-bottom: 2px solid #000;
}

main .hero h1 {
  font-size: 160px;
}

main .hero p {
  font-size: 40px;
  padding-left: 8px;
}

main .content {
  display: flex;
  padding:  50px 20px;
  border-bottom: 2px solid #000;
}

main .img-wrapper {
  width: calc(50% - 40px);
}

main .img-wrapper img {
  width: 100%;
  opacity: 0;
}

main .content .description {
  padding: 15px 30px;
  width: calc(50% + 40px);
}

main .content .category {
 font-size: 13px;
 text-transform: uppercase;
 font-weight: 700; 
}

main .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.main-text {
  font-size: 22px;
  font-weight: 700;
  padding: 50px 0;
  max-width: 700px;
}

.sub-text {
  max-width: 700px;
  font-size: 16px;
}

footer {
  padding: 30px 60px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}